.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.create-form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 15px !important;
  padding-bottom: 7px;
  padding-right: 7px;
}
.create-form input {
  padding-left: 20px;
  border-radius: 10px;
  text-decoration-color: white;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.create-Table {
  color: black;
  background-color: white;
}
